/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Playfair Display", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #898989;
  /* --default-color: #c7c7bf; */
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #777777;
  /* Color for headings, subheadings and title throughout the website */
  /* --accent-color: #b8a07e; */
  --accent-color: #c7c7bf;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: rgba(255, 255, 255, 0.6);
  /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #00000028;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #ffffff;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #dec29c;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f3f1f0;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #858484;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #9e9e9e;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* PHP Email Form Messages
------------------------------*/
.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: rgba(0, 0, 0, 0);
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  padding-top: 0.4em;
  max-height: 6em;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 4700;
  color: var(--heading-color);
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .header .logo img {
    padding-top: 0.4em;
    max-height: 5em;
  }
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  /* --background-color: rgba(82, 78, 68, 0.8); */
  /* --background-color: rgba(199, 199, 191, 0.8); */
  opacity: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
    z-index: 2;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 2em;
    font-size: 0.8rem;
    font-family: var(--nav-font);
    letter-spacing: 0.2em;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }


  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: rgb(95, 86, 86);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
    align-items: center;
    text-align: center;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    height: 100vh;
    width: 100vh;
    padding: 2em;
    font-size: 1.1em;
    margin: 0;
    border-radius: 10px;
    letter-spacing: 8px;
    font-weight: 300;
    background-color: rgb(95, 86, 86);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(84, 89, 73, 0.067);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    display: flex;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: white;
  background-color: rgb(95, 86, 86);
  font-size: 0.8rem;
  text-align: center;
  padding: 3em 20em;
  position: relative;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20%;
    text-align: center;
  }

  .footer .image-container {
    width: 100%;
  }

  .footer h2 {
    padding-top: 5em;
    text-align: center;
  }
}

.footer h2 {
  z-index: 3;
  opacity: 1;
  padding: 0.5em;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: transform 1s ease;
  font-weight: 300;
  font-family: var(--nav-font);
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  color: white;
}

.footer p {
  font-size: 1rem;
  font-family: var(--nav-font);
  font-weight: 250;
  line-height: 1.5;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 2em;
}

.footer p {
  color: rgb(255, 255, 255);
}

.footer .social-links {
  margin: 0 0 30px 0;
}

.footer .social-links a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  color: var(--contrast-color);
  line-height: 1;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  text-decoration: none;
}

.footer .copyright {
  padding-top: 1em;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  font-family: var(--nav-font);
  letter-spacing: 4px;
  font-size: 0.8em;
}

.footer .credits {
  font-size: 13px;
  padding-top: 5px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;
}

.page-title:before {
  content: "";
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
}

.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 80px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 56px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 15px;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.3rem;
  opacity: 0;
  letter-spacing: 0.2em;
  font-family: var(--nav-font);
  font-weight: 350;
  transition: opacity 0.3s ease;
  text-align: center;
  z-index: 2;
}

.hero img:hover {
  opacity: 0.8;
  /* Show text on hover */
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 80%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about-window {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease;
  margin-top: 0.1em;
}

@media only screen and (max-width: 1200px) {
  .about-window {
    flex-direction: column;
  }

  .about-window-story {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768) {
  .about-window-story {
    flex-direction: column;
  }

  .about-window-story p {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.about-window-story {
  display: flex;
  flex-direction: row;
  padding: 10em 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
  font-family: var(--nav-font);
  background-color: rgb(95, 86, 86);
  color: rgb(255, 255, 255);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  transition: transform 1s ease;
  font-weight: 350;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.about-window-story h2 {
  z-index: 3;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: transform 1s ease;
  font-weight: 350;
  font-family: var(--nav-font);
  letter-spacing: 6px;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background-color: color-mix(in srgb, var(--heading-color), transparent 60%);
}

.about-window-story p {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  font-size: 1rem;
  font-family: var(--nav-font);
  font-weight: 250;
  line-height: 1.5;
}

.about-window .about-body {
  flex: 1;
  position: bottom;
  z-index: 2;
  /* margin-bottom: 0; */
  padding: 3em;
  margin-right: 0.1em;
  text-align: center;
}

.about-window .theme-1 {
  background-color: rgb(95, 86, 86);
  color: rgb(255, 255, 255);
  justify-content: center;
}

.about-window .quote {
  background-color: rgb(95, 86, 86);
  color: rgb(255, 255, 255);
  justify-content: center;
}

.about-window .theme-2 {
  background-color: var(--accent-color);
  color: rgb(31, 31, 31);
  justify-content: center;
}

.about-window .about-body h2 {
  z-index: 3;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: right;
  transition: transform 1s ease;
  font-weight: 350;
  font-family: var(--nav-font);
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.about-window .about-body h3 {
  z-index: 3;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: transform 1s ease;
  font-weight: 250;
  font-family: var(--default-font);
  margin-top: -4em;
  letter-spacing: 4px;
  font-size: 1.7rem;
}

.about-window .about-body p {
  font-size: 1rem;
  font-family: var(--nav-font);
  font-weight: 250;
  line-height: 1.5;
}


.about-window .about-body .central-h2 {
  z-index: 3;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  font-weight: 350;
  font-family: var(--nav-font);
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}


.about-window .theme-1 p {
  color: rgb(255, 255, 255);
}

.about-window .theme-2 p {
  color: rgb(52, 49, 49);
}

.about-window .theme-1 h2 {
  color: white;
  background-color: color-mix(in srgb, var(--accent-color), transparent 80%);
}

.about-window .theme-2 h2 {
  color: rgb(255, 255, 255);
  background-color: color-mix(in srgb, var(--heading-color), transparent 60%);
}

.about-window .theme-1 h3 {
  color: white;
  background-color: color-mix(in srgb, var(--accent-color), transparent 80%);
}

.about-window .theme-2 h3 {
  color: white;
  background-color: color-mix(in srgb, var(--heading-color), transparent 50%);
}

.about-window h1 {
  color: white;
  margin-top: -4em;
}

/* Mobile layout (3 rows) */
@media (max-width: 768px) {
  .about-window {
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .about-window .about-body {
    padding: 3em;
    text-align: left;
    position: absolute;
    /* bottom: 0; */
    height: 100%;
    width: 100%;
    z-index: 2;
    /* padding: 4em 4em 2em 2em; */
    font-size: 0.9em;
    justify-content: flex-end;
  }

  .about-window .image-container::before {
    display: flex;
  }

  .about-window .image-container {
    position: relative;
    /* Ensure positioning context for pseudo-elements */
    width: 100vw;
    /* Full width of the viewport */
    height: 100vh;
    /* Full height of the viewport */
    overflow: hidden;
    /* Hide excess image portions */
  }

  .about-window .image-container img {
    width: 100%;
    /* Make the image span the entire width */
    height: 100%;
    /* Make the image span the entire height */
    object-fit: cover;
    /* Ensure the image covers the container while maintaining aspect ratio */
  }

  .image-container {
    display: relative;
    overflow: hidden;
  }

  .image-container .overlay-text {
    opacity: 1;
    padding: 0.1em;
    background-color: color-mix(in srgb, var(--accent-color), transparent 10%);
  }

  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 10;
    /* Ensures it appears above the image */
  }

  .back-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker on hover */
  }

  .about-window .image-container img {
    display: flex;
    width: 100%;
  }

  .about-window .about-body .top h2 {
    z-index: 3;
    opacity: 1;
    padding: 1em;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    transition: transform 1s ease;
    font-weight: 350;
    font-family: var(--nav-font);
    letter-spacing: 6px;
    font-size: 1.2rem;
  }

  .about-window .about-body .bottom h2 {
    z-index: 3;
    opacity: 1;
    padding: 1em;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    transition: transform 1s ease;
    font-weight: 350;
    font-family: var(--nav-font);
    letter-spacing: 6px;
    font-size: 1.2rem;
    margin-top: 2em;
  }

  .about-window .about-body p {
    font-size: 1.22em;
    font-family: var(--nav-font);
    font-weight: 250;
    line-height: 1.5;
  }
}

/** Image Container - for text over images with dynamic links */
.about-window .image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.7s ease;
  z-index: 1;
}

.about-window .image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-right: 0.1em;
}

.about-window .image-container:hover img {
  transform: scale(1.03);
}

.about-window .image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: transform 10s ease, opacity 10s ease;
}

/*--------------------------------------------------------------
# Portfolio Windows for Displaying Photo Galleries
--------------------------------------------------------------*/
.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio-window {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 1200px) {
  .portfolio-window {
    flex-direction: column;
    overflow: visible;
    /* Allow overflow to show content */
    flex-wrap: wrap;
    /* Adjust for flexible layout if needed */
  }

  .portfolio-window .image-container {
    overflow: visible;
  }
}

@media only screen and (max-width: 700px) {
  .about-window .fancy-quote {
    flex-direction: column;
    justify-content: center;
  }

  .about-window p {
    margin-bottom: 1em;
  }

  .about-window .quote-mark {
    display: none;
  }

  .about-window h2 {
    text-align: center;
  }
}

.portfolio-text {
  z-index: 100;
  color: white;
  background-color: black;
}

/** Image Container - for text over images with dynamic links */
.portfolio-window .image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.7s ease;
  z-index: 1;
}

.portfolio-window .image-container:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.portfolio-window .image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-right: 0.1em;
  margin-top: 0.1em;
}

.portfolio-window .image-container:hover img {
  transform: scale(1.03);
}

.portfolio-window .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 10s ease, opacity 10s ease;
}

/** Image Container - for static collage images */
.portfolio-window .collage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease;
  z-index: 1;
  transition: transform 0.3s ease;
}

.portfolio-window .collage-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-right: 0.1em;
  margin-top: 0.1em;
}

.portfolio-window .collage-container:hover img {
  transform: scale(1.03);
}

.portfolio-window .collage-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 10s ease, opacity 10s ease;
}

.portfolio-window {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/** Image Container - for static collage images */
.portfolio-window .v-collage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease;
  z-index: 1;
  transition: transform 0.3s ease;
}

.portfolio-window .v-collage-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-right: 0.1em;
  margin-top: 0.1em;
}

.portfolio-window .v-collage-container:hover img {
  transform: scale(1.03);
}

.portfolio-window .v-collage-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 10s ease, opacity 10s ease;
}


/* Mobile layout (3 rows) */
@media (max-width: 768px) {
  .portfolio-window {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}


/* Fancy quote */
.fancy-quote {
  display: flex;
  display: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 1.1em;
}

.fancy-quote p {
  margin: 0;
  font-size: 1rem;
  /* Adjust font size for paragraphs */
}

.fancy-quote h1 {
  /* margin: 0; */
  font-size: 4rem;
  /* Adjust font size for paragraphs */
}


.fancy-quote .quote {
  font-size: 2rem;
  /* Make the quotation mark larger */
  font-weight: bold;
  color: #555;
  /* Adjust the color */
  line-height: 1;
}


/* Show overlay text on hover */
.image-container:hover .overlay-text {
  opacity: 1;
}

.image-container .overlay-text {
  background-color: color-mix(in srgb, var(--accent-color), transparent 50%);
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: var(--accent-color);
}

.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-filters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

.portfolio .portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-content img {
  transition: 0.3s;
}

.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.portfolio .portfolio-content .portfolio-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
  position: absolute;
  left: calc(50% - 40px);
  font-size: 26px;
  top: calc(50% - 14px);
  color: #fff;
  transition: 0.3s;
  line-height: 1.2;
}

.portfolio .portfolio-content .portfolio-info .preview-link:hover,
.portfolio .portfolio-content .portfolio-info .details-link:hover {
  color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info .details-link {
  left: 50%;
  font-size: 34px;
  line-height: 0;
}

.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-content:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-item {
  background-color: color-mix(in srgb, var(--accent-color), transparent 96%);
  padding: 40px 40px;
  height: 100%;
  border-radius: 15px;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.pricing h4 {
  color: var(--accent-color);
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
  margin-bottom: 0;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 18px;
  font-weight: 500;
}

.pricing .description {
  font-size: 14px;
}

.pricing .cta-btn {
  border: 1px solid var(--default-color);
  color: var(--default-color);
  display: block;
  text-align: center;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font);
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 6px;
}

.pricing .cta-btn:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
  border-color: var(--accent-color);
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricing ul li:last-child {
  padding-bottom: 0;
}

.pricing ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.pricing ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na i {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .featured {
  position: relative;
}

.pricing .featured .popular {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  padding: 4px 15px 6px 15px;
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.pricing .featured .cta-btn {
  background: var(--accent-color);
  color: var(--contrast-color);
  border-color: var(--accent-color);
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-wrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.contact-page {
  margin-top: 20%;
  width: 100%;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--accent-color), transparent 40%);
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

@media (max-width: 768px) {
  .contact {
    width: 100vh;
  }
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}


.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

/*--------------------------------------------------------------
# Portfolio Details Section
--------------------------------------------------------------*/

.portfolio-details {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: -3.8em;
}

.portfolio-details .portfolio-details-slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: -3.8em;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  /* transition: transform 8s ease; */
}

.portfolio-details .overlay-text {
  z-index: 3;
  opacity: 1;
  color: white;
  background-color: color-mix(in srgb, var(--accent-color), transparent 40%);
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  z-index: 2;
  padding: 0.01em;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.657);
  /* color-mix(in srgb, var(--default-color), transparent 85%); */
  opacity: 1;
  margin-right: 0.3em;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 15px;
}

.portfolio-details .portfolio-info {
  background-color: var(--surface-color);
  padding: 30px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.2);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details .service-box {
  background-color: var(--surface-color);
  padding: 20px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.service-details .service-box+.service-box {
  margin-top: 30px;
}

.service-details .service-box h4 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.service-details .services-list {
  background-color: var(--surface-color);
}

.service-details .services-list a {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-top: 15px;
  transition: 0.3s;
}

.service-details .services-list a:first-child {
  margin-top: 0;
}

.service-details .services-list a i {
  font-size: 16px;
  margin-right: 8px;
  color: var(--accent-color);
}

.service-details .services-list a.active {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

.service-details .services-list a.active i {
  color: var(--contrast-color);
}

.service-details .services-list a:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
  color: var(--accent-color);
}

.service-details .download-catalog a {
  color: var(--default-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.service-details .download-catalog a:first-child {
  border-top: 0;
  padding-top: 0;
}

.service-details .download-catalog a:last-child {
  padding-bottom: 0;
}

.service-details .download-catalog a i {
  font-size: 24px;
  margin-right: 8px;
  color: var(--accent-color);
}

.service-details .download-catalog a:hover {
  color: var(--accent-color);
}

.service-details .help-box {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  margin-top: 30px;
  padding: 30px 15px;
}

.service-details .help-box .help-icon {
  font-size: 48px;
}

.service-details .help-box h4,
.service-details .help-box a {
  color: var(--contrast-color);
}

.service-details .services-img {
  margin-bottom: 20px;
}

.service-details h3 {
  font-size: 26px;
  font-weight: 700;
}

.service-details p {
  font-size: 15px;
}

.service-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.service-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.service-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/
.starter-section {
  /* Add your styles here */
}